:host {
  text-align: center;
}

nz-header,
nz-footer {
  background: rgb(29, 27, 27);
  color: #fff;
}

nz-header{
  height: fit-content;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}

nz-content {
  color: #fff;
  min-height: 120px;
  line-height: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}
