i {
  font-size: 40px;
}

.acessorios{
  align-items: flex-start;
  text-align: start;
  margin: 0px;
  padding: 10px;
  background-color: black;
  max-height: fit-content;
  line-height:10px;
  border-radius: 10px;
}

