<div nz-row nzJustify="end" nzAlign="top" class="redes">
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="6" [nzXl]="8">
    <a href="{{ rede.whatsapp }}" target="_blank"><i nz-icon nzType="whats-app" nzTheme="outline"></i></a>
    <a href="{{ rede.instagram }}" target="_blank"><i nz-icon nzType="instagram" nzTheme="outline"></i></a>
   </div>
</div>

<div nz-row nzJustify="center" nzAlign="top" class="header">
  <img nz-image width="320px" height="150px" nzSrc="assets/img/logo-vv.png" alt="" nzDisablePreview />
</div>
<div nz-row nzJustify="center" nzAlign="top" class="header-subtitle">
  <h1>Veículos Seminovos</h1>
</div>

<!--
• Visualizar documentação
-> https://www.jivochat.com.br/blog/comunicacao/como-criar-link-do-whatsapp.html
• Implementar mensagens personalizadas
-> para quem clicar no icone geral
-> para quem clicar em um veiculo especifico
-->
